<!doctype html>
<html lang="de">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <title>Dashboard</title>
  </head>
  <body style="min-height:100vh" class="bg-info">
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
	  <div class="container-fluid">
		<span class="navbar-brand">Dashboard - Raspberry Flask</span>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		  <span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
		  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
			<li class="nav-item">
			  <a class="nav-link active" aria-current="page" href="#">Übersicht</a>
			</li>
			<li class="nav-item">
			  <a class="nav-link" href="#">Licht</a>
			</li>
			<li class="nav-item">
			  <a class="nav-link" href="#">Klima</a>
			</li>
		  </ul>
		</div>
	  </div>
	</nav>
	<div class="container row mt-3">
		<div class="col">
			<h3 class="text-center">Licht (GPIO)</h3>
			<div class="row">
				<div class="col">
				</div>
				<div class="col">
					<div class="form-check form-switch">
						<label class="form-check-label" for="flexSwitchCheckDefault">Licht1 (PIN5)</label>
						<input onclick="toggle(this, 0);" class="form-check-input" type="checkbox" id="lightSwitch0">
						<input onchange="dim(this, 0);" type="range" class="form-range" min="0" max="100" step="5" id="valueLight0">
					</div>
					<div class="form-check form-switch">
						<label class="form-check-label" for="flexSwitchCheckDefault">Licht2 (PIN6)</label>
						<input onclick="toggle(this, 1);" class="form-check-input" type="checkbox" id="lightSwitch1">
						<input onchange="dim(this, 1);" type="range" class="form-range" min="0" max="100" step="5" id="valueLight1">
					</div>
				</div>
				<div class="col">
				</div>
			</div>
		</div>
		<div class="col">
			<h3 class="text-center">Klimadaten</h3>
			<div class="container text-center">
				<p id="temp">Temperatur: {{ temperature  }}°C</p>
				<p id="humi">Luftfeuchtigkeit: {{ humidity }}%</p>
			</div>
		</div>
	</div>
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
	
	<script>
	function sync(light){    //Funktion, welche den Status der LED abruft und damit den Slider / die Checkbox "einstellt"
		var xml = new XMLHttpRequest();
		xml.open("GET","light/"+light,false);
		xml.send(null);
		myObj = JSON.parse(xml.responseText); //Ergebnis der Status-Abfrage
		if (myObj.state==0){
			document.getElementById("lightSwitch"+light).checked = false;
			document.getElementById("valueLight"+light).value = 0;
		} else {
			document.getElementById("lightSwitch"+light).checked = true;
			document.getElementById("valueLight"+light).value = myObj.dimlevel;
		}
	
		
	}
	function toggle(element,light){ //Funktion, um light zu togglen
		onoff=document.getElementById("lightSwitch"+light).checked
		var xml = new XMLHttpRequest();
		if (onoff==true){
			xml.open("GET","light/"+light+"/true",false);
		} else {
			xml.open("GET","light/"+light+"/false",false);
		}
		xml.send(null);
		myObj = JSON.parse(xml.responseText);
		if (myObj.state==0){
		 document.getElementById("lightSwitch"+light).checked = false;
		} else {
		  document.getElementById("lightSwitch"+light).checked = true;
		}
		sync(light);
	
    }
	function dim(element,light){ //Funktion um Licht zu dimmen
		var brightness = element.value;
		var xml = new XMLHttpRequest();
		xml.open("GET","light/"+light+"/dim/"+brightness,false);
		xml.send(null);
		myObj = JSON.parse(xml.responseText);
		sync(light);
    }
	
	function getClimate(){ //Klimadaten aktualisieren
		var xml = new XMLHttpRequest();
		xml.open("GET","climate/",false);
		xml.send(null);
		myObj = JSON.parse(xml.responseText);
		document.getElementById("temp").innerHTML = myObj.temperature;
		document.getElementById("humi").innerHTML = myObj.humidity;
	}
	
	</script>
	<script>
	(function() { //Folgendes wird zu Beginn ausgeführt
		// your page initialization code here
		// the DOM will be available here
		sync(0); //Die LED0 wird aktualisiert
		sync(1); //Die LED1 wird aktualisiert
		
		setInterval(getClimate, 1000*60*10) //Alle 10 Minuten werden die Klimadaten neu geladen
	})();
	</script>
    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
    -->
  </body>
</html>